:root {
  --device-color: #808080;
  font-family: "Orbitron", sans-serif;
  line-height: 1.5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  background-color: var(--device-color);
  padding: 2rem;
  height: 100vh;
}

button {
  width: 20%;
  padding: 0.5rem 0;
  font-family: "Orbitron", sans-serif;
  font-weight: bold;
}

p {
  max-width: 16ch;
}

#nav-btns {
  display: flex;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 5px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

#image-display {
  border: 10px solid #fff;
  border-radius: 10px;
  margin-bottom: 2rem;
}

#information,
#account {
  background-color: #c0c0c0;
  border-radius: 10px;
}

#information {
  padding: 1rem 3rem 3rem 0.3rem;
  overflow: scroll;
}

#account {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  margin-top: 3rem;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
